.gifloox-container {
  max-width: 100%;

  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  background: radial-gradient(circle at top left, #ffdf29, #723fff);
}
/* HERO */
.hero-gifloox {
  background: url("../assets/images/Gifloox_Logo.png") center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroGifloox-overlay {
  background: rgba(0, 0, 0, 0.733);
  text-align: center;
  padding: 3rem;
  border-radius: 16px;
  backdrop-filter: blur(4px);
}

.hero-gifloox h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
}

.hero-gifloox p {
  color: #ccc;
  font-size: 1.2rem;
}

.subtitulo {
  margin-bottom: 30px;
  font-size: 1.2rem;
  text-align: center;
  color: #555;
}

/* Grid de productos */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.producto-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.producto-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.producto-info {
  padding: 15px;
}

.producto-info h3 {
  margin: 0 0 10px;
  font-size: 1.1rem;
}

.producto-info .precio {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Formulario de pedido */
.pedido-form {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.pedido-form h2 {
  margin-bottom: 15px;
}

.pedido-form input,
.pedido-form select,
.pedido-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.pedido-form button {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.pedido-form button:hover {
  background-color: #d62828;
}

.success-msg {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}
